@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-foreground: #ffffff;

  /* Khai báo Custom Animations chuẩn v4 */
  --animate-shimmer: shimmer 2.5s infinite linear;
  @keyframes shimmer {
    0% {
      transform: translateX(-150%) skewX(-20deg);
    }
    100% {
      transform: translateX(200%) skewX(-20deg);
    }
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#fafafa] text-slate-900 antialiased selection:bg-blue-200 selection:text-blue-900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-slate-400;
}
